$background10 : url('../images/Rectangle10.png');
$background11 : url('../images/Rectangle11.png');
$background12 : url('../images/Rectangle12.png');
$background13 : url('../images/Rectangle13.png');
$background14 : url('../images/Rectangle14.png');

$background24 : url('../images/Rectangle24.png');
$background25 : url('../images/Rectangle25.png');
$background26 : url('../images/Rectangle26.png');
$background27 : url('../images/Rectangle27.png');
$background28 : url('../images/Rectangle28.png');

$background29 : url('../images/Rectangle29.png');

$background30 : url('../images/Rectangle30.jpg');




@mixin contentStyleFirst {
  background-repeat: no-repeat;
  background-position: center;
}