.propertice {
  @include headerSocialMediaFlex(center, column);

  margin-bottom: 100px;
  
  background: $background30;
  height: 240px;

  @include contentStyleFirst;

  .content {
    @include headerSocialMediaFlex(center, column);

    width: 240px;

    h1 {
      @include h1;

      margin-bottom: 12px;
    }
    
    p, p a {
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      
      color: rgba(231, 233, 235, 1);
    }

    p {
      .active {
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;

        color: #fff !important;
      }
    }
  }
}

.option {
  @include headerSocialMediaFlex(space-between, row);

  .order {
    @include headerSocialMediaFlex(start, row);

    img {
      vertical-align: middle;
    }

    a {
      @include defaultText(rgba(27, 29, 31, 1));

      span {
        color: rgba(109, 115, 122, 1);
      }
    }

    & a:nth-child(1)  {
      margin-right: 8px;
    }
    & a:nth-child(2) {
      margin-right: 16px;
    }
  }

  .propertices {
    a {
      @include defaultText(rgba(27, 29, 31, 1));
    }

    .active {
      font-weight: 600 !important;

      &:hover {
        color: rgba(27, 29, 31, 1) !important;
      }
    }

    & a:nth-child(1),
    & a:nth-child(2),
    & a:nth-child(3)  {
      margin-right: 32px;
    }
  }
}

.inner-padding {
  padding: 50px 0 !important;

  .pagitation {
    @include headerSocialMediaFlex(center, row);

    margin-top: 50px;

    .pagitation-list {
      @include whiteButton;

      @include fullPagePagitation;
    }

    .active {
      @include fullPagePagitationActive;
    }
  }
}

.footer-margin {
  position: relative;

  .row {
    padding-top: 50px;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      border: 1px solid rgba(231, 233, 235, 0.65);
      width: 100%;
    }
  }
}

// * single page

.single-page {
  margin-top: 100px;

  .card {
    @include headerSocialMediaFlex(space-between, row);

    margin-bottom: 100px;

    .description {
      width: 40%;

      .card-user {
        @include headerSocialMediaFlex(space-between, row);

        @include cardUser;

        margin-bottom: 24px;
      }

      .text {

        h4 {
          @include h4;

          color: rgba(74, 96, 161, 1);

          margin-bottom: 16px;

          cursor: pointer;
        }
        p {
          @include footerParagraph;

          color: rgba(136, 144, 153, 1);

          a {
            color: rgba(74, 96, 161, 1);

            &:hover {
              text-decoration: underline;
            }
          }

          &:nth-child(2) {
            margin-bottom: 16px;
          }
        }
        .price {
          display: block;
          margin-top: 32px;

          font-style: normal;
          font-weight: 600;
          font-size: 36px;
          line-height: 44px;

          color: rgba(74, 96, 161, 1);
        }
      }   
    }

    .image {
      position: relative;

      cursor: pointer;

      img {
        display: block;
      }

      .options {
        background-color: rgba(255, 255, 255, 1);
        box-shadow: 0px 25.697px 72.8081px rgba(59, 77, 129, 0.08);
        border-radius: 4px;
        padding: 24px;
        
        cursor: pointer;

        position: absolute;
        bottom: 28px;

        .list {
          @include headerSocialMediaFlex(start, row);

          @include listCol;

          .col {
            position: relative;

            margin: 0;
            padding: 0 24px;

            span {
              color: rgba(74, 96, 161, 1);
            }

            &::before {
              content: "";
              position: absolute;
              bottom: 0;
              left: 0;
              height: 100%;
              width: 2px;
              background-color: rgba(231, 233, 235, 1);
            }

            &:first-child {
              padding-left: 0;

              &::before {
                content: none;
              }
            }
            &:last-child {
              padding-right: 0;
            }
          }
        }
      }

      .direction-right {
        right: -53px;
      }
    }

    &:last-child {
      margin-bottom: 50px;
    }
  }

  .style {
    .description {
      order: 2;
    }
    .image {
      order: 1;

      .direction-left {
        left: -53px;
      }
    }
  }

  .pagitation {
    @include headerSocialMediaFlex(center, row);

    margin-bottom: 50px;

    .pagitation-list {
      @include whiteButton;

      @include fullPagePagitation;
    }

    .active {
      @include fullPagePagitationActive;
    }
  }
}

// * media queries

@media only screen and (max-width: 1211px) {
  .content {
    .option {
      width: 82%;
      margin: 0 auto;

      .order a,
      .propertices a {
        font-size: 14px;
      }
    }
  }
  
  .inner-padding {
    .card {

      &:last-child {
        width: 82%;

        .card-background {
          img {
            width: 100%;
            height: 280px;
            object-fit: cover;
          }
        }
      }
    }
  }

  .single-page {
    .card {
      flex-wrap: wrap;
      justify-content: center;
      
      .description {
        width: 82%;
        margin-bottom: 30px;

        .options {
          justify-content: flex-end;
        }
      }

      .image {
        width: 82%;

        .background {
          width: 100%;
        }
      }
    }

    .style {
      .description {
        order: 1;
      }
      .image {
        order: 2;
      }
    }
  }
}

@media only screen and (max-width: 730px) {
  .content {
    .option {
      flex-wrap: wrap;

      .order {
        order: 2;
      }
      .propertices {
        order: 1;
        margin-bottom: 25px;
      }
    }
  }

  .propertice {
    h1 {
      font-size: 36px !important;
    }

    p {
      font-size: 18px !important;
    }
  }

  .pagitation {
    width: 82%;
    margin: 50px auto 0;
  }
}

@media only screen and (max-width: 538px) {
  .content {
    .option {
      .order a, .propertices a {
        margin-right: 12px;
      }
    }
  }
}

@media only screen and (max-width: 381px) {
  .content {
    .option {
      .order a, .propertices a {
        margin-right: 8px;
      }
    }
  }
}